__pycache__/
*.py[cod]
*.pyo
*.pyd

.pytest_cache/
.mypy_cache/

TODO.md
done.md
of_example/

.venv/
venv/
env/

.DS_Store
*.egg-info/
build/
.vscode
.ruff_cache
qa_output.txt
*.txt
scripts/foamlib_mcp.py
examples/
refs/
docs/
quality.txt
.vscode/settings.json
.ofti/
